/* Login */
.login,
.signup,
.forgottenPassword{
    height: 100vh;
    background-image: url(../Images/login.svg);
    background-size: contain;
    background-position: right top;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.loginCard,
.signupCard,
.forgottenPasswordCard{
    width:450px;
    height: 500px;
    padding: 25px;
    background-color: transparent;
    border-radius: 15px;
}
.forgottenPasswordCard{
    margin-top: 100px;
}
.loginTitle,
.loginText,
.signupTitle,
.signupText,
.forgottenPasswordTitle,
.forgottenPasswordText{
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}
.loginInput,
.signupInput,
.forgottenPasswordInput{
    width: 100%;
    margin-top: 30px;
    background: #fff;
    font-size: 16px;
    font-weight: 500;
    color: #343d48;
    padding: 3px 15px;
    border: 2px solid #dadada !important;
    border-radius: 10px;
    background-color: rgb(243, 242, 250);
    height: 46px;
    outline: none;
}
.loginButton,
.signupButton,
.forgottenPasswordButton{
    width: 100%;
    margin-top: 30px;
    padding: 10px 15px !important;
    font-size: 15px;
    border-color: #00d2ff;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 5px;
    display: block;
    background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5  51%, #00d2ff  100%);
}
.referalLink{
    text-align: center !important;
    width: 100%;
    font-size: 18px;
    margin-top: 10px;
}

@media only screen and (max-width: 500px) {
    .login,
    .signup,
    .forgottenPassword{
        background-image: url(../Images/loginBackground.png);
        background-position: 75% 0%;
    }
    .loginCard,
    .signupCard,
    .forgottenPasswordCard{
        background-color: white;
        width:100vw;
        height: 540px;
        padding: 30px;
        border-radius: 0px;
    }
    .referalLink{
        margin-top: 20px;
    }
}