.welcome{
    height: 100vh;
    background-image: url(../Images/welcome.svg);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}
.welcome .brandImg{
    background-image: url(../Images/business-document.png);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    width: 10rem;
    height: 10rem;
    margin-top: 2vh;
    display: block;
}
.companyName,.companySlogan{
    color: #6366F1;
    font-size: 3.75rem;
    line-height: 1.1;
    letter-spacing: -.025em;
    font-weight: 800;
}
.companyName{
    color: #111827;
    margin-top: 6vh;
}
.landingButton{
    background-color: #6366F1;
    color: white;
    cursor: pointer;
}
.landingButton:hover{
    color:aliceblue;
}
@media only screen and (max-width: 500px) {
    .welcome{
        height: 100vh;
        background-image: url(../Images/login.svg);
        background-size: cover;
        background-position:65% 0%;
    }
    .welcome .brandImg{
        display: none;
    }
    .companyName,.companySlogan{
        font-size: 2.5rem;
        margin-left: 0.5rem;
    }
    .companyName{
        margin-top: 2vh;
    }
    .landingButton{
        margin-left: 0.5rem;
    }
}