.welcome{
    height: 100vh;
    background-image: url(../Images/welcome.svg);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}
.welcome .brandImg{
    background-image: url(../Images/business-document.png);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
}
.companyName,.companySlogan{
    color: #6366F1;
    font-size: 3.75rem;
    line-height: 1.1;
    letter-spacing: -.025em;
    font-weight: 800;
}
.companyName{
    color: #111827;
    margin-top: 15px;
}
.landingButton{
    background-color: #6366F1;
    color: white;
    cursor: pointer;
}
.landingButton:hover{
    color:aliceblue;
}